body {
  background-color:#303841;
  color:#EEEEEE;
}

.magne {
  margin-left: 250px;
}

.boxy {
  height: 100%;
  width: 250px;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3A4750;
  overflow-x: hidden;
  padding-top: 60px;
}

.boxy a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #EEEEEE;
  display: block;
  transition: 0.3s;
}

.boxy a:hover, .offcanvas a:focus {
  color: #EA9215;
}
